.container {
  padding-top: 100px;
  height: 650px;
  width: 600px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;

  height: 620px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  margin-right: 16px;
  margin-bottom: 52px;
}
