.container {
  display: flex;
  gap: 60px;

  width: 1077px;

  margin: 100px auto 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  align-items: center;
  width: 320px;
  height: 64px;

  text-align: left;

  background-color: transparent;
  border: none;
  color: #8585ad;
  text-decoration: none;

  cursor: pointer;
}

.text {
  opacity: 0.4;
  width: 320px;
}
