.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.details {
  display: flex;
  gap: 20px;
  text-align: center;
  width: 508px;
  margin-bottom: 60px;
}

.image {
  width: 480px;
  height: 240px;
}
