.container {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  height: 850px;
}

.ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.overflow {
  height: 650px;
  overflow: scroll;
  overflow-x: hidden;
}

.overflow::-webkit-scrollbar {
  width: 8px;
}

.overflow::-webkit-scrollbar-track {
  background: #2f2f37;
  border-radius: 20px;
  height: 200px;
  margin-bottom: 52px;
}

.overflow::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 20px;
  border: 1px solid #2f2f37;
}
